:root {
  --clr-accent: hsl(35, 77%, 62%);
  --clr-accent-600: hsl(5, 85%, 63%);
  --clr-neutral-100: hsl(36, 100%, 99%);
  --clr-neutral-200: hsl(233, 8%, 79%);
  --clr-neutral-500: hsl(236, 13%, 42%);
  --clr-neutral-700: hsl(240, 100%, 5%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.2rem;
  font-family: "Inter";
  line-height: 1.8;
  background-color: var(--clr-neutral-100);

}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.mobile-ul{
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width: 67%;
  background-color: var(--clr-neutral-100);
  list-style: none;
  padding: 10rem 3rem;
  font-weight: 600;
  font-size: 1.3rem
}
.mobile-ul.open {
  display: flex; 
}

.close-icon {
  display: none;
}

.close-icon.open{
  display: block;
  position: absolute;
  top:0;
  right: 0;
  padding: 1rem;
  z-index: 999; 
  
}

/* Main */

.hero {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}
h1 {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
}
h2 {
  color: var(--clr-accent);
  font-size: 2.25rem;
  margin-bottom: 0.95rem;
}

h3 {
  font-size: 1.375rem;
}

h3:hover,
li:hover {
  color: var(--clr-accent);
  cursor: pointer;
}

h4 {
  color: hsl(233, 8%, 79%);
}

h5 {
  color: hsl(240, 100%, 5%);
}
h5:hover {
  color: var(--clr-accent-600);
  cursor: pointer;
}

p {
  color: hsl(236, 13%, 42%);
}

.btn-link {
  background-color: var(--clr-accent-600);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  letter-spacing: 0.25rem;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 4.25rem;
  font-size: 0.95rem;
  font-weight: 700;
}
.btn-link:hover {
  background-color: var(--clr-neutral-700);
  cursor: pointer;
}

aside {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  padding: 1rem 1.5rem 0.9rem 1.5rem;
  margin-bottom: 4.2rem;
}
aside p {
  font-size: 1.05rem;
  padding-bottom: 2.2rem;
  border-bottom: 1.5px solid var(--clr-neutral-500);
  margin-bottom: 1.8rem;
  color: var(--clr-neutral-500);
}
aside .last-paragraf {
  margin-bottom: 0;
  border: none;
  padding-bottom: 1.2rem;
}

/* Top Posts */

.top-post {
  display: flex;
  margin-bottom: 2.2rem;
  gap: 1rem;
  align-items: center;
}
.top-post img {
  width: 115px;
  height: 145px;
  object-fit: cover;
}

.top-post p {
  font-size: 1.06rem;
}
.top-post h5 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.top-post h4 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
}


@media screen and (min-width: 800px) {
  body {
    margin: 2rem 8rem;
  }

  header div{
    display: none;
  }

  /* Navigation list */

  .desktop-ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color:inherit;
    height:initial;
    width: initial;
    position: initial;
    padding: 0;
    font-weight: 400;
    font-size: 1.125rem;
  }


/* Layout */

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "hero hero aside"
      "h1 head-p aside"
      "top1 top2 top3";
    gap: 2rem;
  }

  .hero {
    grid-area: hero;
    height: 100%;
    object-fit: cover;
  }
  aside {
    grid-area: aside;
  }
  h1 {
    grid-area: h1;
  }
  .head-article {
    grid-area: head-p;
  }
  .top-post1 {
    grid-area: top1;
  }
  .top-post2 {
    grid-area: top2;
  }
  .top3-post3 {
    grid-area: top3;
  }
  .top-post h5 {
    font-size: 1.125rem;
  }
  .top-post p {
    font-size: 1rem;
  }
}
